

p{
	/*width: 100%;*/
	/*height: 50px;*/
	/*max-height: 100px;*/
	clear: both;
	overflow: auto /*scroll/visible/hidden*/;
	color: #00EEEE;
}


body{							
	background: #FFFFFF;	
	margin: 4%;
}	
